HOST=0.0.0.0 # The service listening address.
PORT=8080 # The service listening port.
CACHE=true # Whether to enable persistence.
CACHE_PATH=db/cache.sqlite3 # The path of the persistent cache (only effective when CACHE=true).
DEBUG=false # Whether to enable debug mode, more logs will be output when enabled.
LOGGING=true # Whether to enable logging.
LOG_LEVEL=info # Log level, optional values: panic, fatal, error, warn, info, debug, trace (Note: only effective when LOGGING=true).
# COPILOT_TOKEN= # The default Github Copilot Token, if this item is set, the Token carried in the request will be ignored.
# SUPER_TOKEN= # Standalone token in this system; if this token is being used by user, COPILOT_TOKEN will be used for Copilot requests. Use comma to separate multiple tokens.
ENABLE_SUPER_TOKEN=false # Whether to enable the SUPER_TOKEN feature. If COPILOT_TOKEN is set, but SUPER_TOKEN is not, COPILOT_TOKEN will be used without any restrictions.
RATE_LIMIT=0 # The number of requests allowed per minute, if 0 there is no limit, default is 0.
CORS_PROXY_NEXTCHAT=false # Whether to enable the CORS proxy for NextChat desktop application. It will then be served on the '$HOST:$PORT/cors-proxy-nextchat/' endpoint. Make sure to update it in your application settings.
